$white: #FFFFFF;
$darkBlue: #42567A;
$darkestBlue: #303E58;
$blue: #3877EE;
$iris: #5D5FEF;
$fuschia: #EF5DA8;

$backgroundPrimary: #F4F5F9;
$borderPrimary: #E7E9F0;
$borderSecondary: #929AA9;
$borderTertiary: #C7CDD9;
$circle: #D0D5E0



